.fff{
	width: 980px;
	margin: auto;
	background-color:white;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}

/****************left****************/
.cd-left{
	float: left;
	width: 710px;
	border-right: 1px solid #d4d4d4;
}
#the-cd-top{
	height: 230px;
}
#the-cd-cover{
	margin-top: 23px;
	margin-left: 35px;
	float: left;
	width: 170px;
	height: 60px;
}
#the-cd-cover img{
	width: 170px;
	padding: 3px;
    border: 1px solid #CCCCCC;
}
#cd-des{
	width: 450px;
	float: left;
	margin-left: 30px;
	margin-top: 22px;
}

.cd-des-p{
	height: 65px;
}

.cd-des-img{
	width: 50px;
	float: left;
	margin-top: 15px;
}


#the-songlist-cre{
	float: left;
    margin: 30px 0px 0px 15px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
}
#cd-mes .the-cd-detail-icon{
	background: url(../image/bofang-icon.png);
	background-size: 70px;
    width: 55px;
    height: 20px;
    color: white;
    padding-left: 15px;
    padding-top: 9px;
    font-size: 12px;
}
#the-cd-tit{
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-weight: 500;
	margin: -24px 0px 0px 77px;
}
#cd-des p {
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: dimgray;
}
#cd-mes a{
	color:blue;
	text-decoration: none;
}
#the-cd-icon{
	width: 500px;
	margin: 1px;
}
#the-cd-icon img{
	width: 23px;
	margin: 10px 55px 0px 0px;
}
#the-cd-icon p{
	margin-top: -18px;
    margin-left: 24px;
}
#the-cd-icon a{
	text-decoration: none;
	float: left;
}
.the-cd-content{
	width: 480px;
	margin: -56px 0px 0px 218px;
}

.the-cd-content p {
	color: dimgray;
	width: 460px;
    margin: 3px 0px 0px 15px;
    line-height: 24px;
    font-size: 12px;
}

.the-cd-descri{
	height: 55px;
	overflow: hidden;
}

.the-cd-toggle{
	float: right;
	font-size: 12px;
	margin-right: 20px;
	margin-top: 10px;
}

/****************列表************/
#the-cd-detail-list{
	margin-top: 30px;
}
.f-cd{
	height: 27px;
    border-bottom: 2px solid #033e7b;
    width: 636px;
    margin: 0px 37px;
}
.f-cd-text{
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size: 18px;
    font-weight: normal;
}
.f-cd p{
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: dimgray;
	margin: -17px 0px 0px 120px;
}
/****************table**********************/
#the-song-list-table table{
    width: 636px;
    margin: 0px 37px;
    border: 1px solid #e8e8e8;
    /*text-align: center;*/
}
#the-song-list-table a {
	text-decoration: none;
	color: grey;
	white-space: nowrap;
}
#the-song-list-table a:hover {
	text-decoration:underline;
	} 
.list1{
	width: 50px;
}
.list2{
	width: 180px;
}
.list3{
	width: 90px;
}
#the-song-list-table table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #CCCCCC;
    border-collapse: collapse;
}
#the-song-list-table table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #e8e8e8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#the-song-list-table table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: none;
    border-color: #e8e8e8;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.oddrowcolor{
    background-color:#f9f9f9;
}
.evenrowcolor{
    background-color:white;
}
.the-songer-hidden{
	width: 100px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.the-title-hidden {
	width: 180px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.the-cd-hidden {
	width: 120px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*************right******************/
.cd-right{
	float: right;
	width: 269px;
}

.cd-right h6{
	margin: 0 5%;
	font-size: 12px;
	line-height: 38px;
	border-bottom: solid 1px #ccc;
}


.sidebar-photo-right{
	margin: 15px 14px;

}

.sidebar-photo-right li{
	margin-top: 6px;
	display: list-item;
    text-align: -webkit-match-parent;
}

.sidebar-photo-right p{
	    margin-left: 60px;
    width: 180px;
    height: 19px;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-photo-right img{
	float: left;
	width: 50px;
}

.sidebar-photo-right a {
    color: black;
}

.sidebar-photo-right a:hover{
	text-decoration:underline;
}

.clear{
	*zoom: 1;
}
.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*****************评论********************/
#the-cd-detail-comment {
	margin-top: 30px;
}
#the-comment-textdiv{
	width: 736px;
}
#the-comment-textarea{
	resize: none;
	width: 631px;
    height: 45px;
    margin: 8px 0px 0px 37px;
    border: solid 1px #C6C6C6;
}
#the-comment-textdiv button {
	margin: 9px 0 0 598px;
	color: white;
	padding: 5px;
	width: 74px;
	border: none;
	background-color: lightseagreen;
}
#the-cd-detail-comment a{
	text-decoration: none;
	font-family: verdana,arial,sans-serif;
    font-size:13px;
    cursor: pointer;
    color:gray;
}
#the-cd-detail-comment a:hover {
	text-decoration:underline;
} 
#the-cd-detail-comment li {
	margin-left: 37px;
	margin-top: 25px;
	padding-bottom: 20px;
	width: 633px;
	list-style: none;
	border-bottom: 1px solid #CCCCCC;
	font-family: verdana,arial,sans-serif;
    font-size:13px;
    color:#333333;
}
.the-comment-photo {
	width: 50px;
    height: 50px;
    margin: 0px 10px 0px 0px;
    float: left;
}
.the-comment-date{
	margin: 10px 0 25px 59px;
	color: #999999;
}
.the-comment-date p {
	float: left;
	margin-top: 0px;
}
.the-comment-date img {
	width: 20px;
	float: left;
	opacity: 0.8;
}
.the-comment-date-detail{
	margin-right: 300px;
}


.dd-oper{
	width: 110px;
	float: right;
}

.dd-oper a{
	width: 17px;
	height: 17px;
	margin: -1px 5px;
	display: block;
	float: left;
}
.dd-oper a.icon-play {
	background: url('../image/index.png');
	background-position: -267px -268px;
}
.dd-oper a.icon-play:hover{
	background-position: -267px -288px;
}
.dd-oper a.icon-add {
	width: 15px;
	background: url('../image/iconplay.png');
	background-position: 0 -698px;
}

.dd-oper a.icon-add:hover{
	background-position: -22px -698px;
}

.dd-oper a.icon-scdgd {
	background: url('../image/index.png');
	background-position: -297px -268px;
}
.dd-oper a.icon-scdgd:hover{
	background-position: -297px -288px;
}

.dd-oper a.icon-store {
    background: url(../image/aixin.png);
	background-size: 100%;
}

.dd-oper a.icon-store:hover {
    transform: scale(1.1);
}
.dd-oper a.icon-del{
	width: 15px;
	background: url('../image/iconplay.png');
	background-position: 0 -281px;
}
.dd-oper a.icon-del:hover{
	background-position: -20px -282px;
}
